@import url('fonts.css');
@import url('variables.css');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

b {
  color: var(--dark);
  font-size: 24px;
  font-weight: 700;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

body {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/* glob */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.reset-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.btn {
  display: inline-block;
  outline: none;
  padding: 25px 39px;
  font-weight: 700;
  font-size: 23px;
  color: var(--wite);
  background-color: var(--default-orange);
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn:focus {
  outline: none;
}

.btn:focus-visible,
.btn:hover {
  background-color: var(--light-orange);
  outline: none;
}

.btn:active {
  background-color: var(--orange);
}

.btn-reset {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.flex {
  display: flex;
}

.container {
  width: 100%;
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.section-title {
  margin: 0;
  margin-bottom: 38px;
  color: #000;
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
}


.text {
  margin: 0;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.border-focus {
  position: relative;
}

.border-focus:focus {
  outline: none;
}

.border-focus:focus-visible:not(:hover) {
  outline: 2px solid var(--default-orange);
  outline-offset: 3px;
}

/* header */
.main {
  padding-top: 25px;
}


.header {
  min-height: 100px;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: var(--wite);
  border-radius: 0px 0px 32px 32px;
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.10);
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  flex-shrink: 0;
  position: relative;
  display: flex;
  width: 225px;
  min-height: 72px;
  margin-right: 40px;
}

.header__logo::after {
  content: "";
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  border: 1px solid var(--default-orange);
  visibility: hidden;
}

.header__logo:focus-within::after {
  visibility: visible;
}

.header__logo:focus-visible {
  outline: none;
}

.header__nav,
.header__menu {
  display: flex;
  flex-wrap: wrap;
}

.header__menu {
  gap: 20px 85px;
}

.header__nav {
  margin-right: 85px;
  align-items: center;
  margin-left: auto;
}


.header__menu-link {
  position: relative;
  white-space: nowrap;
  color: var(--dark);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

.header__menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--default-orange);
  transform: scaleX(0);
  transition: transform .3s ease;
}


.header__menu-link:focus {
  outline: none;
}

.header__menu-link:focus-visible:not(:hover) {
  outline: 2px solid var(--default-orange);
  outline-offset: 3px;
}

.header__menu-link:hover::after {
  transform: scaleX(1);
}

.header__menu-link:active {
  color: var(--orange);
}

.header__menu-link:active::after {
  background-color: var(--orange);
}

.search-btn {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  color: var(--dark);
  background-color: var(--wite);
  transition: color 0.3s ease;
}

.search-btn:focus {
  outline: none;
}

.search-btn:focus-visible:not(:hover) {
  outline: 2px solid var(--default-orange);
  outline-offset: 2px;
}

.search-btn:hover {
  color: var(--default-orange);
}

.search-btn:active {
  color: var(--dark);
}

/* Hero */
.hero {
  padding-top: 25px;
  padding-bottom: 25px;
}

.hero__content {
  flex-direction: column;
  align-items: flex-start;
  min-height: 620px;
  padding: 100px 80px;
  background-image: url(../img/hero-img.jpg);
  border-radius: 32px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  max-width: 837px;
  margin: 0;
  margin-bottom: 24px;
  color: var(--wite);
  font-size: 70px;
  font-weight: 800;
  line-height: normal;
}

.hero__descr {
  margin: 0;
  margin-bottom: 90px;
  max-width: 790px;
  color: var(--wite);
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}

/* About */
.about {
  padding-top: 25px;
  padding-bottom: 50px;
}

.about__title {
  margin: 0;
  margin-bottom: 22px;
}

.about__text {
  max-width: 1235px;
  margin-bottom: 50px;
}
.about__card-column {
  width: calc(100% / 2 - 32px / 2);
}

.about__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.about__card-big {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  overflow: hidden;
  background-image: url(../img/builder.jpg);
  background-color: var(--grey);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 32px;
}

.about__card-big-descr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.50);
  border-radius: 30px;
}

.about__card {
  min-height: 295px;
  margin: 0;
  padding: 62px 118px 64px 34%;
  border-radius: 30px;
  border: solid var(--light-grey) 1px;
  background-repeat: no-repeat;
  background-position: 8.7% 66px;
}

.about__card:not(:last-child) {
  margin-bottom: 32px;
}

.about__card:last-child {
  margin-bottom: 0;
}

.about__card-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}

.about__card-text {
  margin: 0;
  max-width: 450px;
  color: var(--wite);
  font-weight: 700;
}

.about__card-descr {
  margin: 0;
  max-width: 450px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
}



.about__card-img1 {
  background-image: url(../img/svg/about_card1.svg);
  background-size: 22%;
}

.about__card-img2 {
  background-image: url(../img/svg/about_card2.svg);
  background-size: 22%;
}


.about__btn {
  padding: 18px 35px;
  color: var(--wite);
  background-image: none;
  background-color: transparent;
  border-radius: 16px;
  border: 3px solid var(--default-orange);
  font-weight: 700;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.about__btn:hover,
.about__btn:focus-visible {
  background-color: var(--default-orange);
  outline: none;
}

.about__btn:active {
  background-color: var(--orange);
}

/* stages */
.stages {
  padding-top: 50px;
  padding-bottom: 50px;
}

.stages__content {
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.stages__image {
  display: flex;
  overflow: hidden;
  padding-top: 5px;
  width: calc(870 / 1770 * 100%);
  min-height: 460px;
  border-radius: 32px;
}

.stages__picture {
  display: block;
  margin: 0;
  object-fit: cover;

}

.stages__content-specification {
  display: flex;
  flex-direction: column;
  width: calc(758 / 1770 * 100%);
  margin-right: 50px;
}

.stages__main-title {
  margin-bottom: 37px;
}

.stages__title {
  margin: 0;
  margin-bottom: 11px;
  font-size: 24px;
  line-height: 1;
}


.stages__content-descr {
  margin-bottom: 18px;
}

.stages__btn {
  padding: 20px 38px;
  border-radius: 16px;
  font-size: 16px;
}

.stages__button {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.link-deals {
  padding: 19px 38px;
  color: var(--dark);
  background-image: none;
  background-color: transparent;
  border-radius: 16px;
  border: 1px solid var(--dark);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  transition-property: color, background-color, border-color;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.link-deals:focus-visible {
  outline: none;
}

.link-deals:hover,
.link-deals:focus-visible {
  color: var(--wite);
  border-color: var(--grey);
  background-color: var(--grey);
  outline: none;
}

.link-deals:active {
  color: var(--wite);
  background-color: var(--dark);
}

/* questions */
.questions {
  padding-top: 50px;
  padding-bottom: 100px;
}

.questions__title {
  margin-bottom: 33px;
}

.questions__items {
  --cards-count: 3;
  --gap: 32px;

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  margin: 0;
  padding: 0;
}

.questions__item {
  width: calc(100% / var(--cards-count) - var(--gap) * (var(--cards-count) - 1) / var(--cards-count));
  padding: 63px 65px 65px 60px;
  border-radius: 32px;
  border: 1px solid var(--light-grey);
}

.questions__item-title {
  margin: 0;
  max-width: 412px;
  margin-bottom: 8px;
  font-size: 24px;
  line-height: normal;
}

.questions__item-descr {
  max-width: 450px;
  line-height: 200%;
}

/* footer */
.footer {
  padding-top: 49px;
  padding-bottom: 50px;
  background-color: var(--dark);
}

.footer__container {
  display: flex;
  justify-content: space-between;

}

.footer__nav {
  max-width: 300px;
  margin-right: 6.5%;
}

.footer__logo {
  display: block;
  margin-bottom: 15px;
}

.footer__logo:focus-visible {
  outline: none;
}

.footer__menu {
  flex-direction: column;
  margin-bottom: 90px;
}

.footer__menu-item {
  width: 252px;
}

.footer__menu-link {
  color: var(--light-grey);
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  transition: color .3s ease-in-out;
}

.footer__menu-link:hover {
  color: var(--default-orange);
}

.footer__menu-link:focus-visible {
  outline: none;
}

.footer__menu-link:active {
  color: var(--orange);
}

.social-networks {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.social-link {
  display: flex;
  align-items: flex-start;
  width: 60px;
  height: 60px;
}

.social-link svg {
  fill: var(--grey);
  transition: fill .3s ease-in-out;
}

.social-link:hover svg {
  fill: var(--light-orange);
}

.social-link:active svg {
  fill: var(--orange);
}


.social-link:focus-visible {
  outline: none;
}

.footer__input {
  flex-direction: column;
  width: calc(570 / 1770 * 100%);
}

.footer__input-title {
  margin: 0;
  margin-bottom: 28px;
  color: var(--light-grey);
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
}

.footer__text {
  max-width: 363px;
  margin-top: 89px;
  color: var(--light-grey);
}

.form {
  display: flex;
  flex-direction: column;
}

.form-input {
  margin-bottom: 25px;
}

.form-options {
  padding: 14px 24px 14px 24px;
  color: var(--wite);
  background-color: #414141;
  border-radius: 15px;
  border: none;
  overflow: hidden;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.form-options::placeholder {
  color: var(--light-grey);
}

.form-options:focus-visible {
  outline: none;
}

.form-textarea {
  padding: 14px 14px 14px 24px;
  min-height: 150px;
  resize: none;
  margin-bottom: 32px;
}

.form-btn {
  padding: 19px 52px;
  margin-right: 17px;
  background-color: var(--default-orange);
  border-radius: 16px;
  color: var(--wite);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
}

.form-btn:focus-visible {
  outline: none;
}

.footer__input-label {
  cursor: pointer;
}

.footer__input-visual-check {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid var(--light-grey);
  color: var(--light-grey);
  vertical-align: middle;
}

.footer__input-checkbox:focus-visible {
  outline: none;
}

.footer__input-visual-check::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 7px;
  height: 4px;
  border-left: 2px solid var(--light-green);
  border-bottom: 2px solid var(--light-green);
  opacity: 0;
  transform: translate(-50%, -50%) rotate(-45deg) scale(1.1);
  transition-property: opacity, transform;
  transition-duration: 0.3s;
}

.footer__input-checkbox:focus~.footer__input-visual-check {
  outline: 1px solid var(--default-orange);
  outline-offset: 3px;

}

.footer__input-checkbox:checked~.footer__input-visual-check::before {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(-45deg) scale(1);

}

.footer__input-check-text {
  color: var(--light-grey);
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  vertical-align: middle;
}
